.portfolio-skills-background {
  background-color: rgb(255, 255, 255);
}

.portfolio-skills-alignment {
  padding: 50px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94%;
}

.portfolio-skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  word-wrap: wrap;
  width: 80%;
}

.portfolio-skills-container div {
  margin-bottom: 40px;
}

.portfolio-skills-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
}

.portfolio-skills-icons {
  font-size: 70px;
  cursor: pointer;
  color: grey;
  margin: 0px 20px;
}

.portfolio-skills-icons:hover {
  transform: scale(1.05);
}

.portfolio-skills-icon__html:hover {
  color: orange;
}

.portfolio-skills-icon__css:hover {
  color: rgb(0, 119, 255);
}

.portfolio-skills-icon__sass:hover {
  color: pink;
}

.portfolio-skills-icon__bootstrap:hover {
  color: purple;
}

.portfolio-skills-icon__js:hover {
  color: yellow;
}

.portfolio-skills-icon__react:hover {
  color: aqua;
}

.portfolio-skills-icon__node:hover {
  color: greenyellow;
}

.portfolio-skills-icon__docker:hover {
  color: lightskyblue;
}

.portfolio-skills-icon__git:hover {
  color: orangered;
}

.portfolio-skills-icon__java:hover {
  color: cadetblue;
}

.portfolio-skills-icon__python:hover {
  color: royalblue;
}

.portfolio-skills-icon__rust:hover {
  color: rgb(41, 34, 34);
}
