.cv-header__about-icon {
  cursor: pointer;
}

.cv-header__about-icon > * {
  font-size: 35px !important;
  padding: 0 15px;
}

.cv-header__about-icon__icon {
  overflow: hidden;
  position: relative;
  margin: 18px 0 14px 0;
}

.cv-header__about-icon__icon::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: 50% 100%;
  transition-duration: 0.5s;
}

.cv-header__about-icon__icon::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /* width: 65%; */
}

.cv-header__about-icon__position {
  position: relative;
  cursor: pointer;
  display: block;
  height: 45px;
}

.cv-header__about-icon__styling {
  position: relative;
  display: block;
  outline: none;
  overflow: hidden;
  text-align: center !important;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.5s;
  box-sizing: border-box;
}

.cv-header__about-icon__position:hover .cv-header__about-icon__styling {
  transform: translateY(-12px);
}

.cv-header__about-icon__styling-hover-visible {
  position: relative;
  display: inline-block;
  transition: all 0.3s;
}

.cv-header__about-icon__position:hover
  .cv-header__about-icon__styling-hover-visible {
  transform: translateY(-100%);
}

.cv-header__about-icon__styling-hover-hidden {
  position: absolute;
  top: 100%;
  transform: translate3d(0, 0, 0);
  left: 0;
  right: 0;
  margin: auto;
  color: #fff;
}

.cv-header__about-icon__position:hover
  .cv-header__about-icon__styling-hover-hidden {
  top: 25%;
  position: absolute;
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  left: 0;
  right: 0;
  margin: auto;
  color: #fff;
}

.cv-header__about-icon__styling-hover-hidden__text {
  font-size: 12px;
  text-align: center;
  position: absolute;
  bottom: -25px;
  margin: 0 auto;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.cv-header__about-icon__position:hover
  .cv-header__about-icon__styling-hover-hidden__text {
  bottom: -1px;
  opacity: 1;
  visibility: visible;
}

