.about-section-particle-alignment {
  box-sizing: border-box;
  position: relative;
  width: 110vw;
  min-height: auto !important;
  z-index: -10;
}

.about-section-particle-alignment > * {
  height: 920px;
}

.about-section-background {
  position: absolute;
  top: 0;
  margin: 40px 0px 0px 40px;
  z-index: 1;
}

.about-section-background__container {
  height: 830px;
  margin-bottom: 60px;
  min-width: 87vw;
  background-color: rgba(255, 255, 255, 0.603);
}

.about-section-background__items {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-section-background__items-image__image {
  transform: translateY(-45px);
  height: 900px !important;
  width: 850px !important;
  padding: 0;
  margin-block: 0;
  animation: aboutImg 30s infinite linear;
  animation-fill-mode: none;
}

.about-section-background__items-image__container {
  position: relative;
  top: 0px;
  transform: translateX(50px);
}

@keyframes aboutImg {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  20% {
    transform: translateY(-30px);
    opacity: 0.7;
  }
  60% {
    transform: translateY(0px);
    opacity: 1;
  }
  80% {
    transform: translateY(30px);
    opacity: 0.7;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.about-section-background__items-typography {
  min-width: 40%;
  transform: translateX(140px);
}

.about-section-background__items-typography__image {
  position: absolute;
  z-index: -5;
  width: 1000px;
  transform: translate(-20px, -270px);
  opacity: 0.65;
}

.about-section-background__items-typography__first {
  color: #ff0015;
  font-size: 25px;
  font-weight: bolder;
  transform: translateX(25px);
}

.about-section-background__items-typography__first__sub {
  color: #ffffff !important;
  font-size: 26px;
}

.about-section-background__items-typography__first::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  width: 143px;
  height: 40px;
  background: #ffc455;
  transform: translate(-25px, -2.5px);
  z-index: -1;
}

.about-section-background__items-typography__second {
  margin-top: 13px;
  font-family: "Polya", cursive;
  color: #00b7ff !important;
  font-size: 3.65vw;
  font-weight: 400;
}

.about-section-background__items-typography__typed {
  border-left: 9px solid #129ddd;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-top: 2px;
  font-size: 25px;
  padding-left: 15px;
  color: #ff00b3;
}

.about-section-background__items-typography__btn-group {
  margin-top: 40px;
}

.about-section-background__items-typography__btn-1 {
  background: rgb(255, 174, 0) !important;
  font-size: 20px !important;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.about-section-background__items-typography__btn-1:hover {
  background: rgb(0, 195, 255) !important;
  box-shadow: 0px 1px 20px 5px rgba(255, 174, 0, 0.3) !important;
}

.about-section-background__items-typography__btn-2 {
  background: rgb(0, 195, 255) !important;
  font-size: 20px !important;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.about-section-background__items-typography__btn-2:hover {
  background: rgb(255, 174, 0) !important;
  box-shadow: 0px 1px 20px 5px rgba(0, 195, 255, 0.3) !important;
}

.about-section-education__alignment {
  display: flex;
  width: 100%;
  flex-direction: row;
  height: 1600px;
}

.about-section-education__background {
  user-select: none;
  position: absolute;
  top: 920px;
  left: 100px;
  z-index: -5;
}

.about-section-education__background-image {
  background-image: url("../../assets/education.svg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 93vw;
  height: 1600px !important;
  height: auto;
  opacity: 0.3;
}

.about-section-education__content-background {
  z-index: 3;
  width: 93vw;
  background-image: linear-gradient(
    150deg,
    rgba(1, 1, 1, 0.75),
    rgba(73, 73, 73, 0.75),
    rgba(161, 161, 161, 0.75),
    rgba(255, 255, 255, 0.75)
  ) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.about-section-education__heading {
  margin-top: 170px;
}

.about-section-education__heading .typography-text-styling {
  cursor: pointer;
  font-size: 90px !important;
  line-height: 100% !important;
  height: auto !important;
}

.about-section-education__container {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-section-education__content {
  margin-top: 150px;
}

.about-section-education__content::after {
  content: "";
  position: absolute;
  background-color: #ff517e;
  width: 3px !important;
  margin: 0px auto;
  z-index: -1;
  height: 1240px !important;
  transform: translate(184px, -1380px);
}

.about-section-education__content-row > .line-card-items__right {
  transform: translateY(-40px);
}

.about-section-education__heading:hover > * {
  animation: rubberBand 1s ease-in;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
} 
