.cv-app-header-alignment {
  box-sizing: border-box;
  display: inline-block;
  position: fixed;
  max-width: 100px;
  min-width: 100px;
}

.cv-app-body-alignment {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  min-width: 100%;
  margin-left: 100px !important;
}
